<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro e Login</title>
    <link rel="stylesheet" href="../static/estilos/pagejs.css">

</head>
<body>

<h1>Login</h1>
<form id="loginForm" action="/login" method="post">
    <label for="loginUsername">Username:</label>
    <input type="text" id="loginUsername" name="loginUsername" required><br>
    <label for="loginPassword">Password:</label>
    <input type="password" id="loginPassword" name="loginPassword" required><br>
   <a href="index.html"><button type="submit">Login</button></a>
</form>

<script src="/static/log.js"></script>
</body>
</html>